body {
    background-color: #f9f9f9;
    margin: 0;
    font-family: 'Arial', sans-serif; /* Establecer una fuente por defecto */
}



/* Animación de entrada del título */
.espTitulo {
    padding-top: 15vh;
    font-size: 4.5rem;
    color: aliceblue;
    text-align: center;
    margin: 0;
    opacity: 0;
}

/* Sección de especialidades usando flexbox */
.especialidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

/* Animación de entrada del contenedor de especialidades */
.espContenedor {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
    margin: 1rem;
    padding: 1.5rem;
    text-align: center;
    transform: translateY(20px);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave al pasar el mouse */
}



/* Efecto hover en los contenedores */
.espContenedor:hover {
    transform: translateY(-10px); /* Eleva ligeramente el contenedor */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
}

/* Estilos de la imagen dentro del contenedor */
.espContenedor img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease; /* Transición de imagen */
}

/* Efecto hover en la imagen */
.espContenedor:hover img {
    transform: scale(1.1); /* Escala la imagen al pasar el mouse */
}

/* Estilos del nombre de la especialidad */
.nombreEsp {
    font-size: 1.6rem;
    font-weight: bold;
    margin: 1rem 0;
    color: #333;
    opacity: 0;
}

/* Estilos del párrafo de la especialidad */
.parrafoEsp {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
}


/* Media Query para pantallas más pequeñas */
@media (max-width: 768px) {
    .espTitulo {
        font-size: 3.5rem;
    }

    .especialidades {
        justify-content: space-between; /* Espaciado entre elementos en tabletas */
    }
}

@media (max-width: 480px) {
    .espTitulo {
        font-size: 2.5rem;
    }

    .especialidades {
        justify-content: center; /* Centrar elementos en dispositivos móviles */
    }
}
