.formulario{
    width: 250px;
}
.thead {
    background-color: #007bff; /* Color de fondo azul */
    color: black; /* Color de texto blanco */
    padding: 10px 15px; /* Padding para darle espacio */
    text-align: center; /* Centra el texto */
    font-weight: bold; /* Negrita para destacar */
    border-radius: 5px 5px 0 0; /* Bordes redondeados en la parte superior */
}

/* Estilo para las celdas de la tabla en general */
.table th, .table td {
    padding: 10px 30px; /* Agrega padding a las celdas */
    vertical-align: middle; /* Alinea el contenido verticalmente */
}

/* Estilo para filas alternadas */
.table tbody tr:nth-child(odd) {
    background-color: #f9f9f9; /* Color de fondo para filas impares */
}

/* Estilo para filas pares */
.table tbody tr:nth-child(even) {
    background-color: #ffffff; /* Color de fondo para filas pares */
}

/* Estilo para filas al pasar el cursor */
.table tbody tr:hover {
    background-color: #e2e2e2; /* Color de fondo al pasar el cursor */
}